.container {
  max-width: 960px;
  margin: 0 auto;
  padding: 0 16px;
}

.nav {
  padding: 20px 30px;
  display: flex;
  justify-content: flex-start;
}

.nav-item {
  padding: 5px 10px;
  text-decoration: none;
  color: black;
  border: 1px solid black;
  border-radius: 5px;
}

.nav-item:not(:last-child) {
  margin-right: 14px;
}

.active {
  background-color: lightsalmon;
  color: white;
}
